.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  background-color: #fff;
  width: 100%;

  .lgNavLogo {
    width: 102px;
    height: 32px;
    display: block;
  }

  .smNavLogo {
    width: 30px;
    height: 30px;
    display: none;
  }

  @media (max-width: 1128px) {
    .smNavLogo {
      display: block;
    }

    .lgNavLogo {
      display: none;
    }
  }
}

.underNav {
  height: 50px;
}
