.hero {
  height: 500px;
  width: 100%;
  background-image: url('/images/bc-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 744px) {
    height: 65vh;
  }

  @media (min-width: 1128px) {
    height: 85vh;
  }
}

.container {
  padding-left: 24px !important;
  padding-right: 24px !important;
  max-width: 1600px !important;
  margin: 0 auto !important;

  @media (min-width: 744px) {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  @media (min-width: 1128px) {
    padding-right: 80px !important;
    padding-left: 80px !important;
    max-width: 1760px !important;
  }
}
