.contentWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1128px) {
    flex-direction: column-reverse;
  }
}

.headingWrapper {
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 8px;
  }
}

.leftContent {
  padding-top: 50px;
  width: 100%;

  @media (min-width: 1128px) {
    width: 50%;
    max-width: 792px;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.rightContent {
  width: 100%;
  height: 350px;
  position: static;
  right: 0;

  @media (min-width: 1128px) {
    position: fixed;
    width: 45%;
    max-width: 642px;
  }
}
